<div class="container">
    <h2 class="top-title">映画ランキング</h2>
    <div class="service-box-wrap">
        <% 5.times do |i| %>
            <div class="service-box">
                <h4>i位</h4>
                <h4>title</h4>
                <img src="#">
            </div>
        <% end %>
    </div>
    <h2 class="top-title">上映中の映画</h2>
    <div class="service-box-wrap">
        <% 5.times do |i| %>
            <div class="service-box">
                <h4>i位</h4>
                <h4>title</h4>
                <img src="#">
            </div>
        <% end %>
    </div>
    <h2 class="top-title">公開予定のやつ</h2>
    <div class="service-box-wrap">
        <% 5.times do |i| %>
            <div class="service-box">
                <h4>i位</h4>
                <h4>title</h4>
                <img src="#">
            </div>
        <% end %>
    </div>
    <a href="https://twitter.com/intent/tweet?button_hashtag=57OnoSou&ref_src=twsrc%5Etfw" class="twitter-hashtag-button" data-show-count="false">Tweet #57OnoSou</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>