<div class="likes">
    <% @review.likers.order("likes.created_at").each do |voter| %>
        ★<%= voter.name %>
    <% end %>
    <% if current_user && current_user.votable_for?(@review) %>
        <%= link_to "いいね", [:like, @review], method: :patch, class: "button" %>
    <% end %>
</div>