<div class="sidebar-box-wrap">
    <h2>上映予定</h2>
    <% 3.times do |i| %>
        <div class="sidebar-box">
            <div class="side-box-left">
                <img src="#">
            </div>
            <div class="side-box-right">                    
                <h4>映画の名前</h4>
                <p>テキスト。テキスト。テキスト。テキスト。テキスト。</p>
            </div>
        </div>
    <% end %>
    <p>
        <%= link_to "もっと見る", :movies %>
    </p>
</div>
